/* 
    Created on : 28-Jul-2016, 19:21:08
    Author     : Richie
*/
html, body {
    height: 100%;
    font-family: verdana;
    font-size: 12px;
    margin: 0px;
}

a {
    text-decoration: none;
    text-transform: none;
    color: black;
}

.title {
    background-color: #EEE;
}

.header {
    text-align: right;
}

.footer {
    text-align: center;
}

.warning {
    color: red;
}

.margin-top-10 {
    margin-top: 10px;
}

.hidden {
    display: none;
}